.body {
  font-family: "Times New Roman", Times New Roman;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Tamaño fijo para el contenedor */
  margin: 0 auto; /* Centrar el contenedor */
}

.special-message {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffd315; /* Color llamativo */
  text-align: center;
  margin-top: 20px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.problemStyle {
  background-color: #FFD315;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.problem input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.problem button {
  margin-top: 10px;
  width: 100%;
  background-color: #28a745; /* Verde para el botón Enviar */
  border-color: #28a745;
}

.operations-list {
  margin-top: 20px;
  text-align: center; /* Centrar la lista */
}

.operation-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar el contenido */
  gap: 10px; /* Espacio entre el icono y el texto */
}

.operation-item.correct {
  color: green;
}

.operation-item.incorrect {
  color: red;
}

.progress {
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  background-color: #28a745; /* Verde para la barra de progreso */
  transition: width 0.5s ease;
}
